{% extends 'main/base.html' %}
{% load static %}
{% block title %}All plants{% endblock %}

{% block content %}
<div class=" basic-background">
        
    <div class="featured-plants">
        <h2>Featured Plants</h2>
        <div class="plant-grid">  
            {% for plant in plants %} 
            <div class="plant-card">
                <img src="{{ plant.image.url }}" class="plant-image" alt="{{ plant.name }}"/> 
                <div class="plant-info">
                    <h3>{{ plant.name }}</h3>
                    <h5>{{ plant.category }}</h5>
                    <a href="{% url 'plants_app:plants_detail_view' plant.id %}" class="btn">More about {{ plant.name }}</a>
                </div>
            </div>
            {% endfor %}


{% endblock %}